node_modules/
dist/
.env
.env.local
*.env.key
process.env
coverage/
apps/api/data/
apps/api/apps/
**/license-db.json
*.log
.DS_Store
Thumbs.db

*.zip
apps/extension/dist/

.env.key2
**/.env.key2
*.key2

